* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  color: white;
  width: 100%;
  background: url('./assets/stock-1863880_1920.jpg');
  background-size: cover;
  padding: 40px 0px 40px 0px;
}

article {
  margin: 0 0 30px 0;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
}

h2 {
  font-size: 20px;
  margin: 30px 0 20px 0;
}

p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
}

.heatmap {
  width: 70%;
}

footer {
  font-size: 20px;
  padding: 20px;
}

/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/* palette color scale */

.react-calendar-heatmap .color-scale-120 { fill: #DEEDCF; }
.react-calendar-heatmap .color-scale-130 { fill: #99D492; }
.react-calendar-heatmap .color-scale-140 { fill: #56B870; }
.react-calendar-heatmap .color-scale-150 { fill: #1D9A6C; }
.react-calendar-heatmap .color-scale-160 { fill: #188977; }
.react-calendar-heatmap .color-scale-170 { fill: #137177; }
.react-calendar-heatmap .color-scale-180 { fill: #0E4D64; }
.react-calendar-heatmap .color-scale-200 { fill: #0A2F51; }

/* responisve styles*/

@media (max-width: 500px){ 
  header {
    padding: 10px 0px 10px 0px;
  }     

  h1 {
    font-size: 36px;
  }  

  h2 {
    font-size: 16px;
    margin: 20px 0 15px 0;
  }

  p {
    font-size: 12px;
    line-height: 15px;
  }

  .heatmap {
    width: 90%;
  }
}