/* all styles for the whole app are defined here in one place. */ 


/* general styles */

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, sans-serif;
  background: #EFEFEF;
}

.App {  /* the main container of the app*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-emphasis { /* to emphasise text*/
  color: white;
  font-style: italic;
}

/* header styles */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#404040;
  width: 100%;
  padding: 40px 0px 0 0px;
}

.headerContainer {
  display: flex;
  width: 70%;  
  justify-content: center;
  margin-bottom: 20px;
}

.headerImg {  /* logo img */
  height: 150px;
  width: 40%;
  margin-right: 30px;
  border-radius: 5%;
}

.headerTitle {
  font-size: 18px;  
}

.learnMore { 
  padding: 8px 15px 8px 15px;
  font-size: 12px;
  color: white;
  background:#4693d9;
  border-radius: 5px;
  border: 0;
}

.blueHeader {
  background: #4693d9;
  width: 80%;
  position: relative;
  padding: 20px;
}

.blueTitle {
  color: #ddd;
  font-size: 15px;
  margin-left: 30px;
}

.blueHeader::after {  
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 41px solid #4693d9;
  border-right: 34px solid transparent;
  position: absolute;
  bottom: -41px;
  left: 0;
}


/* content styles */ 

.content {
  width: 70%;
}

/*intro text */

.introText {
  text-align: justify;
  background: white;
  padding: 12px;
  margin-top: 20px;
  box-shadow:  14px 0 30px -14px #333;
}

h3.introText {  
  margin: 30px 0 20px 0;
}

/*heatmap component styles*/

.heatmap { 
  background: white;
  box-shadow:  14px 0 30px -14px #333;
  padding-top: 20px;
}

 /* slider styles*/

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.slider-title {
  color: #404040;
  font-style: italic;
}

.arrow {
  font-size: 20Px;
  color: #4693d9;
  margin: 0 20px;  
}

.arrow--disabled {
  font-size: 20Px;
  color:  grey;
  margin: 0 20px;
}

.arrow:hover {
  color: #00FF00;
  cursor: pointer;
}

/* legend styles used by Legend component. This is not the palette, go down for the palette classes*/
.ledgend-symbol-120 {border: 5px solid #DEEDCF; width: 50px;}
.ledgend-symbol-130 {border: 5px solid #99D492; width: 50px;}
.ledgend-symbol-140 {border: 5px solid #56B870; width: 50px;}
.ledgend-symbol-150 {border: 5px solid #1D9A6C; width: 50px;}
.ledgend-symbol-160 {border: 5px solid #188977; width: 50px;}
.ledgend-symbol-170 {border: 5px solid #137177; width: 50px;}
.ledgend-symbol-180 {border: 5px solid #0E4D64; width: 50px;}
.ledgend-symbol-200 {border: 5px solid #0A2F51; width: 50px;}

.ledgend {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.ledgend-wrapper {
  display: flex;
  justify-content: flex-end;
  background: white;
  margin-bottom:30px;
  padding-bottom: 25px;
}

/*footer styles*/
footer {
  background:#404040;
  color: darkgrey;
  width: 100%;
}

.footerHolder {
  display: flex;
  justify-content: center;
}

.footerContent {
  width: 18%;
  padding: 13px;
  color: white;
  text-align: left;
}

.title {
  margin-bottom:10px;
  margin-top: 13px;
  font-size: 17px;
}

footer p {
  color:  grey;
  font-size: 15px;
}

footer section {
  padding: 20px 0;
  background:#202020;
  display: flex;
  justify-content: center;
}

/* responisve styles for devices with screen size less than 500px */

@media (max-width: 500px){ 

  header {
    padding: 10px 0px 10px 0px;
  }     

  .headerContainer {
   margin-bottom: 5px;
  }

  .headerImg {
    display: none;
  }

  .headerTitle {
    font-size: 15px;  
  }

  .introText {
    font-size: 12px;
    margin-top: 10px;
  }

  h3.introText {
    font-size: 16px;
    margin: 20px 0 15px 0;
  }

  .blueHeader {
    display: none;
  }

  .content {
    width: 90%;
  }

  .ledgend-wrapper {
      margin-bottom:15px;
  }

  .footerHolder {
    display: none;
  }

  footer p {
    color:  grey;
    font-size: 10px;
  }

  .ledgend-symbol-120 {border: 5px solid #DEEDCF; width: 20px;}
  .ledgend-symbol-130 {border: 5px solid #99D492; width: 20px;}
  .ledgend-symbol-140 {border: 5px solid #56B870; width: 20px;}
  .ledgend-symbol-150 {border: 5px solid #1D9A6C; width: 20px;}
  .ledgend-symbol-160 {border: 5px solid #188977; width: 20px;}
  .ledgend-symbol-170 {border: 5px solid #137177; width: 20px;}
  .ledgend-symbol-180 {border: 5px solid #0E4D64; width: 20px;}
  .ledgend-symbol-200 {border: 5px solid #0A2F51; width: 20px;}

  .ledgend {
    font-size: 10px;
  }

} /*end of responsive styles*/

  
/* react-calendar-heatmap styles. */

/* I copied it from the react-calendar-module installation folder and customized it. According to the documentation 
   you can copy it to a css file in your app. All of the styles in this file are optional and configurable!
*/

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/* Default color scale - a simple palette used if you dont define a color scale (palette) */

.react-calendar-heatmap .color-empty {  /*used if no value*/
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled { /*used when there is value.*/
  fill: #8cc665;
}


/* palette color scale - I defined this one by configuring the default color-scale(palette) */

.react-calendar-heatmap .color-scale-120 { fill: #DEEDCF; }
.react-calendar-heatmap .color-scale-130 { fill: #99D492; }
.react-calendar-heatmap .color-scale-140 { fill: #56B870; }
.react-calendar-heatmap .color-scale-150 { fill: #1D9A6C; }
.react-calendar-heatmap .color-scale-160 { fill: #188977; }
.react-calendar-heatmap .color-scale-170 { fill: #137177; }
.react-calendar-heatmap .color-scale-180 { fill: #0E4D64; }
.react-calendar-heatmap .color-scale-200 { fill: #0A2F51; }